[submodule "serviceCourse"]
	path = serviceCourse
	url = https://github.com/ArtRand/serviceCourse.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "sonLib"]
	path = sonLib
	url = https://github.com/UCSC-nanopore-cgl/sonLib.git
[submodule "python_utils"]
	path = python_utils
	url = https://github.com/adbailey4/python_utils
[submodule "scrappie"]
	path = scrappie
	url = https://github.com/nanoporetech/scrappie.git
