bin/
dist/
externalTools/lastz-distrib-1.03.54/src/lastz
externalTools/lastz-distrib-1.03.54/src/lastz_D
signalAlign.egg-info/
build/
/tests/test_sequences/*.fasta*
/tests/test_sequences/*.fa.*
/tests/test_hdp/test_copy.hdp
/tests/test_hdp/test.hdp
cmake-build-debug/
*.idea
.cache/
*.pyc
venv
*.so
*.o
/tests/minion_test_reads/RNA_edge_cases/DEAMERNANOPORE_20170922_FAH26525_MN16450_sequencing_run_MA_821_R94_NA12878_mRNA_09_22_17_67136_read_61_ch_151_strand.fast5
/tests/minion_test_reads/RNA_edge_cases/DEAMERNANOPORE_20170922_FAH26525_MN16450_sequencing_run_MA_821_R94_NA12878_mRNA_09_22_17_67136_read_36_ch_218_strand.fast5